<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center flex-column" style="height:70vh;">
      <div class="img">
        <img src="../../../../assets/images/pay_ship_images/96237-success.gif" alt=""
          style="width: 425x; height: 250px;">
      </div>
      <div>
        <p style="color: #8993a4;
              font-size: 20px;
              font-weight: 500;
              line-height: 28px;
              margin-bottom: 40px;
              text-align: center;
              font-family: 'Montserrat-Arabic', sans-serif;
              ">
          {{"thank" | translate}}
        </p>
      </div>
      <div>
        <p style="    color: #b3bac5;
              font-size: 16px;
              font-weight: 300;
             text-align: center;
             ">{{"asd" |translate}}

        </p>
        <p style="text-align: center; color: #b3bac5;
              font-size: 16px;
              font-weight: 300;
              line-height: 22px;">
          <a href="https://twitter.com/pay_ship_?s=11&t=klHfSLxAF-JoUQCwwx8SXw" target="_blank"> <span
              style="color:#4857FC;"> {{"follow" |translate}}</span>
          </a> &nbsp;{{"asd2" |translate}}
        </p>

      </div>

    </div>
    <div class="con">
      <button class="bt" (click)="go()">
        {{"back" |translate}}
      </button>
    </div>
  </div>
</div>

<div>
  <div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <p>{{"ABOUT PayShip" | translate}} </p>
            </h5>
          </div>
          <div class="modal-body">
            <p> {{"here" | translate}} </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row d-flex justify-content-between">
          <div
            class="col-lg-4 col-12 mb-0 mb-md-4  pb-0 pb-md-2 d-flex justify-content-center align-items-center flex-column"
            style="margin-top: 30px;">
            <a href="" class="logo-footer">

              <!-- <img src="assets/images/white_logo.1af5dea052039e6daede941306b53e86.svg" alt=""> -->
            </a>
            <img src="../../../assets/images/png/Asset13.png" style="width: 130px; " alt="">

          </div>
          <div
            class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 d-flex justify-content-center align-items-center text-center">
            <ul class="list-unstyled social-icon social mb-0 mt-4">
              <li class="list-inline-item p-3">
                <p>{{"email-send" | translate}} </p>
                <a href="mailto:ba9531010@gmail.com" target="_blank">
                  <img src="../../../assets/images/png/email.png" style="width: 25px; height: 25px;" alt="">

                </a>
                <!-- <a href="javascript:void(0)" class="rounded">

                    <i-feather name="facebook" class="fea icon-sm fea-social"></i-feather>
                </a> -->
              </li>
              <li class="list-inline-item p-3">
                <p>{{"whats" | translate}} </p>
                <a href="https://wa.me/966544363719" target="_blank">
                  <img src="../../../assets/images/png/whatsapp.png" style="width: 25px; height: 25px;" alt="">

                </a>
                <!-- <a href="javascript:void(0)" class="rounded">
                    <i-feather name="instagram" class="fea icon-sm fea-social"></i-feather>
                </a> -->
              </li>

              <li class="list-inline-item p-3">
                <p>{{"twiter-send" | translate}} </p>
                <a href="https://twitter.com/pay_ship_?s=11&t=klHfSLxAF-JoUQCwwx8SXw" target="_blank">

                  <img src="../../../assets/images/png/twitter.png" style="width: 25px; height: 25px;" alt="">
                </a>
                <!-- <a href="javascript:void(0)" class="rounded">
                    <i-feather name="linkedin" class="fea icon-sm fea-social"></i-feather>
                </a> -->
              </li>
            </ul>
            <!--end icon-->
          </div>
          <!--end col-->


          <div
            class="col-lg-4 col-md-4 col-12 mt-4  mt-sm-0 pt-2 pt-sm-0 d-flex justify-content-center align-items-center text-center">

            <ul class="list-unstyled footer-list mt-4">
              <li data-bs-toggle="modal" data-bs-target="#exampleModal"><a>{{"ABOUT PayShip-2"
                  |translate}}</a></li>
            </ul>
          </div>


          <!--end col-->

        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </footer>
    <!-- Footer End -->
  </div>
</div>
<!--end footer-->
