.con {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.bt {
  padding: 14px;
  border: 1px solid transparent;
  background: #4857fc;
  color: white;
  border-radius: 20px;
}

.bt:hover {
  background: yellow;
  color: black;
}

.footer-list li a {
  transition: 0.2s !important;
  color: white;
}

.footer-list li a:hover {
  opacity: 0.7;
}

.site-version {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-content h5 {
  color: #323232;
}

.modal-content p {
  color: #323232;
}

.modal-content {
  padding: 50px;
}