<div *ngIf="!hideFooter">
  <div>
    <!-- Footer Start -->
    <footer class="footer mt-5">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div
            class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2 d-flex justify-content-center align-items-center flex-column"
            style="margin-top: 30px;">
            <a href="#" class="logo-footer">

              <!-- <img src="assets/images/white_logo.1af5dea052039e6daede941306b53e86.svg" alt=""> -->
            </a>
            <img src="../../../assets/images/png/Asset13.png" style="width: 130px; " alt="">

          </div>
          <!--end col-->

        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </footer>
    <!-- Footer End -->
  </div>
</div>
<!--end footer-->

<!--end footer-->
